.menu{position:absolute; top:15px;left:5%;text-align:center;padding:0;color:#333;font-size:28px;font-weight:700;line-height:25px;cursor:pointer;}
#css-menu{border-top:0px solid #46a28d ;position:fixed;top:0;left:0px;z-index:9999;background:#222222;height:100%;transition:all .4s ease-in-out;}
#cssmenu,#cssmenu ul,#cssmenu li,#cssmenu a {margin: 0;padding: 0;border: 0;list-style: none;font-weight: normal;text-decoration: none;line-height: 1;  font-family: "Open Sans", sans-serif;font-size: 14px;position: relative;}
#cssmenu a {line-height: 1.3;padding: 12px 15px;}
#cssmenu {width: 240px;}
#cssmenu > ul > li {cursor: pointer;background: #efefef;border-top:1px solid #3d3d3d;border-bottom: 1px solid #161616;}
#cssmenu > ul > li:first-child {border-top:none;}
#cssmenu > ul > li:last-child {border-bottom:1px solid #3d3d3d;}
#cssmenu > ul > li:last-child > a {border-bottom: 1px solid #161616;}
#cssmenu > ul > li > a {font-size: 14px;display: block;color: #fff;text-shadow: 0 1px 1px #000;background: #2C2C2D;padding: 12px 15px;}
#cssmenu > ul > li > a:hover {text-decoration: none;background:#00FFCC;border-radius: 30%;
    transition-property: background, border-radius;
    transition-duration: 1s;}
#cssmenu > ul > li.active {font-weight:700;}
#cssmenu > ul > li.home .close-menu{background: #2C2C2D;color: #fff;font-size:18px;font-weight:700;padding: 9px 15px;display:block}
#cssmenu > ul > li.has-sub > a:after {content: '';position: absolute;top: 15px;right: 10px;border: 5px solid transparent;border-left: 5px solid #fff;}
#cssmenu > ul > li.has-sub.active > a:after {right: 14px;top: 17px;border: 5px solid transparent;border-top: 5px solid #fff;}
#cssmenu ul ul {padding: 0;display: none;}
#cssmenu ul ul.expand {height:200px;overflow:auto}
#cssmenu ul ul a {display: block;color: #797979;font-size: 13px; }
#cssmenu ul ul a:hover {color: #000; border-radius: 30%;
    transition-property: background, border-radius;
    transition-duration: 1s; 
    background-color: #33FFFF;
}
#cssmenu ul ul li {border-bottom: 1px solid #c9c9c9;}
#cssmenu ul ul li:last-child {border: none;}
#noidung {
    width: 60%;
    position: relative;right: -230px;top: -25px;
}
#noidung div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 750px;
    height: 500px;
   
}

#noidung div.gallery:hover {
    border: 1px solid #777;
}

#noidung div.gallery img {
    width: 100%;
    height: 450px;
}

#noidung div.desc {
    padding: 10px;
 
}
#tin {
    
    width:60%;
    position: relative;top: -12px;
    

}
#tin div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 335px;
    height: 250px;
    position: relative;top: -153px;left: 250px;
}

#tin div.gallery:hover {
    border: 1px solid #777;
}

#tin div.gallery img {
    width: 100%;
    height: 180px;
}

#tin div.desc {
    padding: 10px;
 
}
.mu div{
    display: none;
    float: left;
    position: relative;top:-950px;left: 20px;
    line-height: 30px;
    font-size: 20px;
    width: 790px;
}
.mu div:target{
    display: block;
}
#anh{
    position: relative;left: 120px;
}

#bxh{
background-color: #444444;
    width: 280px;
    height: auto;
    position: relative;top: -578px;left: 730px;
    border-color: #ffffff;
    color: #ffffff;
}

#tin {
    
    width:60%;
    position: relative;top: -12px;
    

}
#tintin div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 375px;
    height: 250px;
    position: relative;top: -153px;left: 250px;
}

#tintin div.gallery:hover {
    border: 1px solid #777;
}

#tintin div.gallery img {
    width: 100%;
    height: 180px;
}

#tintin div.desc {
    padding: 10px;
 
}